





  .search-container input:focus {
    outline: 0;
  }

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
  }
  
  .searchBox:hover > .searchButton {
    background: white;
    color: #2f3640;
  }